@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
  --main-color: #647bff;
  --body-color: #090a1a;
  --container-color: #171b3c;
  --heading-color: #222231;
  --box-color: #0d0f26;
  --bg-color: #fff;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background-color: var(--container-color);
  color: var(--heading-color);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 960px;
  margin: auto;
  width: 100%;
}
.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin: 0 auto;
  width: max-content;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}
header .bg {
  background: var(--main-color);
}

.header-active {
  background: var(--box-color);
  transition: 0.5s;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-color);
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.nav-link {
  font-size: 0.94rem;
  padding: 10px 8px;
  border-radius: 1rem;
  color: var(--bg-color);
}

.bx-log-in {
  font-size: 1rem;
  color: var(--bg-color);
  border: none;
}

.login {
  color: var(--bg-color);
  width: 1rem;
}

.nav-link:hover {
  color: var(--main-color);
  background: var(--container-color);
  transition: 0.5s;
  border: 1px solid white;
}

.menu-icon {
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  cursor: pointer;
  z-index: 200;
  transition: 0.2s;
}

.menu-icon div {
  display: flex;
  background: var(--bg-color);
  height: 2px;
  width: 24px;
  transition: 0.3s;
}

.move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line2 {
  opacity: 0;
}
.move .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}

.card:before,
.card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.4rem;
  padding: 30px 0;
  background-color: var(--body-color);
}
.social {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.social a {
  color: var(--bg-color);
  font-size: 25px;
}

.social a:hover {
  font-size: 20px;
  color: var(--main-color);
  transition: 0.5s all linear;
}
.footer p {
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.footer-links a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-color);
}

.footer-links a:hover {
  color: var(--bg-color);
  transition: 0.5s all linear;
}
.author {
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-color);
}
.scroll-top {
  position: fixed;
  bottom: -100%;
  right: 1.5rem;
}

.scroll-top .bx {
  padding: 8px;
  font-size: 1.3rem;
  color: var(--bg-color);
  background: var(--box-color);
  border-radius: 0.2rem;
}

.scroll-top .bx:hover {
  background: var(--container-color);
  transition: 0.5s all linear;
}

.scroll-active {
  bottom: 2rem;
  transition: 0.5s;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 775px) {
  .logo {
    font-size: 1.1rem;
  }
  .menu-icon {
    display: flex;
  }
  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: var(--box-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  img {
    width: 100%;
    height: 100%;
  }
  .open-menu {
    right: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-link {
    display: block;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
